body{
    background:#eee;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.email--background{
    background:#fff;
    padding:8px;
    border-radius: 5px;
}

.pre-header{
    margin-bottom: 10px;
}
h3, p{
    color:#31618d;
    font-family: sans-serif;
    letter-spacing: 1.4;
}